.screen-box
	#search.active
		.search-button-box
			i.glass.icon-uxpin-icon-set-magnifying-glass-regular.touch-event
		.search-box
			input(type="text" ng-model="search" ng-autocomplete="result" details="details" options="autoCompleteOptions" placeholder="Rechercher")
			i.remove-research-button.lnr.lnr-cross.touch-event(toggle-touch-active ng-click="removeResult()")
	.range-box
		i.lnr.lnr-calendar-full.calendar
		.content
			input(type="range" min="0" max="6" step="1" ng-model="rangeData")
		.current-year
			p {{currentYear}}
	.is-valid(ng-class="isAdmissible ? 'success' : 'fail'")
		p(ng-if="isAdmissible") Admissible
		p(ng-if="!isAdmissible") Non Admissible
		div(ng-if="!isAdmissible" ng-repeat="desease in deseases")
			p {{desease.name}}
			p {{desease.duration}}
			p {{desease.requiredTests}}
	#map
		#map-content
			div
				ng-map(center="{{::options.gmap.center.lat}},{{::options.gmap.center.lng}}" zoom="{{::options.gmap.zoom}}" styles="{{::options.gmap.style}}" disable-double-click-zoom="true" disable-default-u-i="true" pan-control="false" map-type-control="false" map-type-control-options="{style:'DROPDOWN_MENU'}" zoom-control="false" zoom-control-options="{style:'SMALL}")
					//map-data(load-geo-json="ressources/optimized_grandest.geojson")
					marker( ng-if="marker" position="{{marker.position.lat}},{{marker.position.lng}}")


	//p Si vous avez séjourné entre 1980 et 1996 au Royaume-Uni (Angleterre, Pays de Galles, Écosse, Irlande du Nord, Channel Islands, Isle of Man) pendant une durée cumulée de plus de 12 mois ou si vous avez reçu une transfusion sanguine ou avez été opéré au Royaume-Uni après le 1er janvier 1980, sachez que les critères internationaux ne permettent actuellement pas au Centre de Transfusion Sanguine de vous accepter comme donneur de sang.