.box {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0 2px 4px 0 rgba(178,178,178,0.50);
  border-radius: 5px;
  padding: 10px;
  // for safety
  min-height: 80px;
  transform: all 200ms ease("swift-in");
  &--is-hidden {
    display: none;
  }
  &--is-invalid {
    border: 1px solid color("primary", "base");
    .box__error {
      display: block;
    }
  }
  &--is-focused {
    border: 1px solid color("grey", "darken-2");

    .box__icon {
      &:after {
        opacity: 0.1;
        transform: translateY(-5px);
        transition: transform 150ms ease("swift-out");
      }
    }

  }
}

.box--is-hidden {
  display: none;
}


.box__error {
  display: none;
  position: absolute;
  bottom: -35px;
  left: 80px;
  background: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 5px 10px;
  color: red;
  z-index: -1;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%,rgba(255,255,255,0) 100%);
    height: 3px;
  }
}

.box__icon {
  position: absolute;
  bottom: 0px;
  right: 30px;
  width: 110px;
  height: 60px;
  overflow: hidden;
  &:after {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    width: 100px;
    height: 100px;
    opacity: 0.05;
    background-size: cover;
    transform: translateY(0px);
    transition: transform 220ms ease("swift-in");
  }
}
