.box {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-shadow: 0 2px 4px 0 rgba(178,178,178,0.50);
  border-radius: 5px;
  padding: 10px;
  // for safety
  min-height: 80px;
  transform: all 200ms ease("swift-in");
  &--is-invalid {
    border: 2px solid #FF0000;
  }
  &--is-focused {
    border: 1px solid color("primary", "base");

    .box__icon {
      &:after {
        opacity: 0.1;
        transform: translateY(-5px);
        transition: transform 150ms ease("swift-out");
      }
    }

  }
}

.box__icon {
  position: absolute;
  bottom: 0px;
  right: 30px;
  width: 110px;
  height: 60px;
  overflow: hidden;
  &:after {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    width: 100px;
    height: 100px;
    opacity: 0.05;
    background-size: cover;
    transform: translateY(0px);
    transition: transform 220ms ease("swift-in");
  }
}
