.diagnosis {
	position:absolute;
	right:40px;
	top:160px;
	width: 300px;
	z-index: 999;
	color:white;
  background-color:white;
}

.response--is-valid {
	.diagnosis {
		display: none;
	}
}


.diagnosis__details {
	margin: 0;
}

.diagnosis__details__item {
	padding: 5px 0;
	margin: 0;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
	}
	&:not(:last-child) {
		border-bottom: 1px solid color("grey", "lighten-3");
	}
}

.diagnosis__details__item__head {
	display: flex;
	margin-bottom: 5px;
}

.diagnosis__details__item__title {
	width: 68%;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	height: 24px;
	text-transform: uppercase;
	font-size: 22px;
	font-family: "Lato";
	font-weight: 900;
	color: color("grey", "darken-3");
	margin: 0;
}

.diagnosis__details__item__label {
	width: 32%;
	display: inline-block;
	text-align: right;
	align-self: flex-end;
}


.diagnosis__details__item__test {
	margin: 0;
}
