.is-valid {
	position:absolute;
	right:40px;
	top:40px;
	z-index: 999;
	color:white;
  background-color:black;
	p:not(:empty) {
    padding:10px;
		margin: 0;
	}
	&.success {
		background-color:green;
	}
	&.fail {
		background-color:$color-primary;
	}
}
