.place {
	position:fixed;
	top:160px;
	left:40px;
	width: 460px;
	z-index:999;
	&.box--is-focused {
		border-bottom-right-radius: 0;
		.place__icon:after {
			transform: rotate(65deg) translateY(-5px);
		}
	}
}

.place__icon:after {
	background-image: url("../assets/plane.svg");
	transform: rotate(65deg);
}

// OVERRIDE
.place input {
	width: 210px;
	background-color: transparent;
	text-overflow: ellipsis;
}

.dropdown .results {
	margin-top: 20px;
	left: 0;
	width: 380px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	&:before {
		top: 0;
	}
	ul {
		margin-top: 0;
	}
	li {
		overflow: hidden;
		text-overflow: ellipsis;
		height: 51px;
		line-height: 2;
	}
}

.place.box--is-focused {
  input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
   .results {
     display: block;
		 border: 1px solid color("primary", "base");
		 z-index: 9999999999;
		left: -2px;
		border-top: 1px transparent;
   }
}
