$button-size: 55px;

$mobile-search-size: 400px;
$search-size: 400px;

$search-offset: 300px;
$mobile-search-offset: 250px;

$touch-size: 90px;
$touch-offset: $touch-size / 2;

#search {
	position:fixed;
	top:120px;
	left:40px;
	z-index:9;
	transition: all .35s ease;
	transform: translateX(0px);

	.search-button-box {
		width: $button-size;
		height: $button-size;
		overflow:hidden;
		background: white;
		border-radius:0px 3px 3px 0px;
		border-bottom: 1px solid color("grey", "base");
		transition: all .35s ease;
		.glass {
			padding:15px;
			display: inline-block;
			transition: all .35s ease;
			transform:scale(1);
			color:$color-primary;
			font-size:1.5em;
			z-index: 1;
			position:relative;
			transition: color .35s ease;
			&::after {
				z-index: 0;
				left: -35%!important;
				width:$touch-size!important;
				height:$touch-size!important;
				margin: -$touch-offset 0 0 -$touch-offset!important;
				background-color: rgba(lighten($color-primary, 10%), 0.5);
			}
		}
	}
	.search-box {
		background-color:white;
		position:absolute;
		left:-$search-size;
		transform: translateX(0);
		top:0;
		transition: all .35s ease;
		z-index: -1;
		height:$button-size;
		width:$mobile-search-size;
		input {
			height:$button-size;
			width:$mobile-search-size;
			margin:0;
			padding:0;
			padding-left:15px;
			transition: all 200ms ease;
		}
		select {
			width:$mobile-search-size;
			margin:0;
			padding:0;
			padding-left:15px;
			transition: all 200ms ease;
		}
		.remove-research-button {
			position:absolute;
			top:0px;
			right:0px;
			padding:15px;
			cursor:pointer;
			opacity:0.6;
			transition: all 200ms ease;
			display:none;
			color:$color-primary;
			font-size:1.5em;
			z-index: 3;
			overflow: hidden;
			&:hover {
				opacity:1;
			}
			&.visible {
				display:block;
			}
			&::after {
				z-index: 0;
				left: -35%!important;
				width:$touch-size!important;
				height:$touch-size!important;
				margin: -$touch-offset 0 0 -$touch-offset!important;
				background-color: rgba(lighten($color-primary, 10%), 0.5);
			}
		}
	}
	&.active {
		.search-button-box {
			background: $color-primary;
			.glass {
				color:white;
			}
		}
		.search-box {
			transform: translateX($search-size + $button-size);
		}
	}
	&.open {
		transform: translateX($mobile-search-offset);

	}
	&.focus {
		.glass {
			margin-right:15px;
			opacity:1;
			color: $color-primary;
			transform:scale(0);
		}
		.remove-research-button {
			transform:scale(1);
		}
	}
}
