

@keyframes marker-drop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

$max-markers: 50;

.marker {
	cursor:pointer;
	animation: marker-drop 0.2s ease-out forwards;
	z-index: 1;
	// @for $i from 0 through $max-markers {
	// 	&:nth-child(#{$i})>.bubble {
	// 	    animation-delay: $i * 0.1s;
	// 	}
	// }
	.bubble {
		display:inline-block;
		color:$color-primary;
		transition: all 200ms ease;
		overflow: visible;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		position:relative;
		&::after {
			background-color:rgba($color-primary, 0.2);
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -35px 0 0 -35px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			content: '';
			opacity: 0;
			pointer-events: none;
		}
		&.active::after {
			animation: anim-effect-jelena 0.3s ease-out forwards;
		}
	}
	span:last-child {
		width:60px;
		margin-top:-18px;
		display:block;
		position:relative;
		left: 20px;
		top: -1px;
		color: #7c1544;
		font-weight: bold;
		transition: all 200ms ease;
	}
	// &:hover {
	// 	span:last-child {
	// 		display:block;
	// 		transform:translateX(0px);
	// 	}
	// }
	&.active {
		z-index: 0;
		.bubble {
			text-shadow: 0 0 4px darken($color-primary, 10%);
			color:white;
		}
		span:last-child {
			display:block;
		}
	}
}	
