<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Blood risk map</title>
    <link rel="stylesheet" href="css/app.css?v=<%= buildTime %>">
    <!-- <script type="text/javascript" src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script> -->

</head>
<body id="body">
    <!-- App version : <%= version %>, build time : <%= ( new Date( +buildTime ) ).toString() %> -->

    <!-- PRELOADER -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <div class="preloader__center">
          <div class="preloader__center__panel preloader__center__panel--1"></div>
          <div class="preloader__center__panel preloader__center__panel--2"></div>
          <div class="preloader__center__panel preloader__center__panel--4"></div>
          <div class="preloader__center__panel preloader__center__panel--3"></div>
        </div>
        <div class="preloader__center__text"></div>
      </div>
    </div>

    <!-- DISCLAMER MODAL -->
    <div class="disclamer modal">
      <div class="overlay close-modal"></div>
      <div class="content">
        <div class=" content-wrapper">
          <header class="">
            <h5>Disclamer</h5>
            <div class="close-button close-modal">
              <i class="icon -cross"></i>
            </div>
          </header>
          <p>Si vous avez séjourné entre 1980 et 1996 au Royaume-Uni (Angleterre, Pays de Galles, Écosse, Irlande du Nord, Channel Islands, Isle of Man) pendant une durée cumulée de plus de 12 mois ou si vous avez reçu une transfusion sanguine ou avez été opéré au Royaume-Uni après le 1er janvier 1980, sachez que les critères internationaux ne permettent actuellement pas au Centre de Transfusion Sanguine de vous accepter comme donneur de sang.</p>
          <footer class="merge -large -horizontal">
            <button class="button">Accept</button>
            <button class="button">Decline</button>
          </footer>
        </div>
      </div>
    </div>

    <!-- APP -->
    <div class="app">
      <div id="search" class="active">
        <div class="search-button-box"><i class="icon -magnifier touch-event"></i></div>
        <div class="search-box">
          <input type="text" ng-model="search" ng-autocomplete="result" details="details" options="autoCompleteOptions" placeholder="Rechercher"/>
          <i class="remove-research-button icon -cross touch-event"></i>
        </div>
      </div>
      <div class="range-box">
        <i class="icon -calendar"></i>
        <div class="content">
          <input id="rangeInput" type="range"/>
        </div>
        <div class="current-year">
          <p id="year">2017</p>
        </div>
      </div>
      <div id="admissibility" class="is-valid">
        <p id="admissiblity"></p>
        <div id="notAdmissible">
          <p id="diseaseName"></p>
          <p id="diseaseDuration"></p>
          <p id="dieseaseRequiredTests"></p>
        </div>
      </div>
      <div id="map"></div>
    </div>

    <script src="js/polyfills.js?v=<%= buildTime %>"></script>
    <script src="js/vendors.js?v=<%= buildTime %>"></script>
    <script src="js/app.js?v=<%= buildTime %>"></script>
</body>
</html>
